.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(136, 133, 133, 0.3)
}
.nav__ul{
    display: flex;
    justify-content: space-around;
}
.nav__link{
    position: relative;
    color:#2e363e;
}
.nav__notifi{
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.nav__dot{
    display: flex;
    position: absolute;
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    left: 27.5px;
    bottom: 27.5px;
}